<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SoloMenu"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
        </activity>
        <activity
            android:name=".VsMenu"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
        </activity>
        <activity android:name=".SoloPlay" />
        <activity android:name=".VsPlay" />
        <activity android:name=".SoloPlayReadyToTap" />
        <activity android:name=".VsPlayReadyToTap" />
        <activity android:name=".SoloResults" />
        <activity android:name=".VsResults1" />
        <activity android:name=".VsResults2" />
        <activity android:name=".LeaderboardsMenu" />
        <activity android:name=".SoloLeaderboard"></activity>
    </application>

</manifest>